@page
@model NDPE.RazorPagesPageModel.Pages.Todos.DeleteModel
@{
}

<form method="post" class="col-6">
    <input asp-for="todo.Id" type="hidden">
    <p>Are you sure about removing this item?</p>
    <div>
        <label>Name</label>
        <input asp-for="todo.Name" class="form-control" disabled />
    </div>
    <br />
    <br />
    <div>
        <label>Is Completed</label>
        <input asp-for="todo.IsComplete" type="checkbox" disabled>
        <span asp-validation-for="todo.IsComplete"></span>
    </div>

    <div style="text-align: right;">
        <input type="submit" class="btn btn-danger" value="Remove" />
    </div>
</form>